# --- Frontend (Streamlit Voice Assistant) ---
streamlit
python-dotenv
requests
groq
edge-tts
langchain
langchain-groq
langchain-tavily
langgraph

# --- Backend (FastAPI Local Model) ---
fastapi
uvicorn
pydantic
torch
transformers